.banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bannerText {
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  width: 50%;

  h2 {
    font-size: 70px;
    font-family: "Amiri", serif;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    line-height: 78px;
  }

  p {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 80vh;
  }

  .bannerText {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;

    h2 {
      font-size: 40px;
      line-height: 50px;
    }
  }
}
