.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.text {
  span {
    font-size: 16px;
    font-family: "DM Sans";
    font-weight: 400;
    color: #ffffff;
  }
  p {
    font-size: 14px;
    font-family: "DM Sans, sans-serif";
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
  }
}
