.marqueelist {
  display: flex;
  gap: 80px;
  white-space: nowrap;
  flex: none;
  animation: marquee 15s linear infinite;
  padding: 25px 0;
}

.marqueeItem {
  color: #000000;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
